bin
obj
*.csproj.user
*.suo
*.resharper.user
_ReSharper.IronRubyMvc/
.DS_Store
IronRubyMvc/Controllers/._RubyController.cs
IronRubyMvc/Controllers/._RubyControllerActionInvoker.cs
IronRubyMvc/Controllers/._controller.rb
IronRubyMvc/Core/._RubyEngine.cs
dependencies/IronRuby.Tests.exe
dependencies/IronRuby.Tests.pdb
.idea
*.sln.cache